# Node
node_modules/
npm-debug.log
yarn-error.log
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Expo
.expo/
*.jks
*.keystore
*.pem

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
